@media screen and (min-width: 1200px) {
	.section {
  		margin-left: 40px;
 		margin-right: 40px;
	}
	.section input[type=text],
	.section input[type=email],
	.section select,
	textarea {
		font-size: 20px;
		}
	.section1 h1 {
		padding-top: 10px;
		padding-bottom: 50px;
	}
	.section1 .form1 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.section1 .form1 input[type=text],
	.section1 .form1 input[type=email],
	.section1 .form1 select {
		width: 49%;
		height: 50px;
		display: block;
		margin-bottom: 25px;
	}
	h2{
		margin-top: 15px;
		font-size: 19px;
	}
	hr {
  		 color: rgb(146, 146, 146);
  		 background-color: rgb(146, 146, 146);
		 height: 1px;
		 margin-bottom: 50px;
	}
	.section2 .form2 input[type=text] {
		height: 55px;
		display: block;
		margin-bottom: 25px;
	}
	.s
	.section2 .form2 textarea {
		height: 130px;
		display: block;
		margin-bottom: 25px;
	}
	.section2 .form2 .box1 {
		display: flex;
		justify-content: space-between;
		margin-bottom: 4px;
	}
	.section2 .form2 .box1 .box1-left {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 99%;
	}
	.section2 .form2 .box1 textarea,
	.section2 .form2 .box1 .box1-left {
		width: 49.5%;
	}
	.section2 .short-desicription {
		height: 130px;
		
		}
	.section2 .form2 .box2 {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.section2 .form2 .box2 input {
		width: 86%;
		margin: 0;
	}
	.section2 .form2 .box2 .add-url {
		display: block;
		width: 11%;
		margin: 0;
	}
	.section2 .form2 .box3 {
		text-align: center;
	}
	.section2 .form2 .save-add {
		display: inline-block;
		width: 300px;
		margin: 35px auto 10px auto;
		text-align: center;
	}
	.section3 {
		display: flex;
		flex-direction: row;
		margin-top: 20px;
	}
	.section3 .item1 {
		width: 84%;
	}
	.section3 .item2 {
		display: block;
		width: 15%;
	}
	.section3 .item2 button {
		font-size: 18px;
		border-radius: 30px;
		height: 33%;
		margin-top: 10px;
	}
}